main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.799),rgba(0, 0, 0, 0.629)),url(../img/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}