/* Registration FORM */
.registration-form {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.832)),url(../img/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-form h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.registration-form form {
    text-align: center;
}

input::placeholder {
    color: rgb(105, 99, 99);
}

.reg-input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

#btn {
    width: 250px;
    font-size: 20px;
    padding: 5px 10px;
    background: #685b1281;
    color: rgb(105, 99, 99);
    /* border: none; */
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}

#btn:hover {
    background: #685b12d1;
    color: rgb(39, 36, 36);
}

/* Class pre Javascript */

.valid {
 color: rgba(170, 255, 0, 0.821);
 font-size: 20px;

}

.invalid {
    color: rgba(255, 0, 0, 0.623);
    font-size: 20px;
}